# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Coverage
coverage/

# Temp
tmp/
temp/

# Prisma
prisma/*.db
prisma/*.db-journal

# TypeScript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma
